<div class='container'>
  <div class='row'>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <% @charities.each_with_index do |charity, index| %>
          <div class="item <%= 'active' if index == 0 %>">
            <div class='fancy-border-box'>
              <%= image_tag charity.logo, class: 'center-block'  %>
              <div class='contribution-banner'>
                Lifetime Contributions to <%= "#{charity.name} #{number_with_precision(charity.lifetime_contributions, precision: 5)}" %> <span class="glyphicon glyphicon-bitcoin"></span>
              </div>
            </div>
          </div>
        <% end %>
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>
