
<div id="prize_pools">
  <ol>
    <li>Daily</li>
    <li>Weekly</li>
    <li>Monthly</li>
  </ol>
</div>

<div id="transfer_form">Transfer form</div>

<div id ="entries_feed">
  <h2>Latest Winners</h2>
  <ol>
    <li>Blue Circle</li>
    <li>Yellow Tranquility</li>
  </ol>
</div>

