<h3>Echo... what now?</h3>
<p>
  Echocoin is a bitcoin payment service with something a little extra. Each time
  you send a transaction you will contribute to a charity of your choice and you will
  also be entered into each of the prize pools.
</p>

<h3>How does it work?</h3>
<p>
  Echocoin is a three-way partnership between the charities, the developers and
  you! Small donations have a way of adding up and hey; it's kind of exciting! Just
  by using Echocoin you have a chance to win each of the prize pools. If you're
  lucky enough you could even win more than one pool.
</p>

<h3>Anything else I should know?</h3>
<p>
  Yes, since you are doing the lord's work here, you can also enter your email
  address to get a charitable donation certificate. If you choose to enter your
  email you will also get notified if you win a prize pool.
</p>

<h3>What are the EXACT fee totals?</h3>
<p>
  Here's the breakdown:
  <ul>
    <li>0.5% goes to the charity of your choice</li>
    <li>0.5% goes to the prize pools</li>
    <li>0.5% goes towards running the site</li>
  </ul>
  The only other cost is the price of a bitcoin transaction, which can vary. You
  can read more <%= link_to '*here*', 'https://en.bitcoin.it/wiki/Transaction_fees' %> but
  the total transaction fee should be in the neighborhood of a tenth of one percent.

  The fees are paid by the sender. This means if you send 1.000 BTC, your wallet will be
  charged ≈1.016 BTC (about 1.6%), not too shabby!
</p>
