<h3>What are the EXACT fee totals?</h3>
<p>
  Here's the breakdown:
  <ul>
    <li>0.5% goes to the charity of your choice</li>
    <li>0.5% goes to the prize pools</li>
    <li>0.5% goes towards running the site</li>
  </ul>
  The only other cost is the price of a bitcoin transaction, which can vary. You
  can read more <%= link_to '*here*', 'https://en.bitcoin.it/wiki/Transaction_fees' %> but
  the total transaction fee should be in the neighborhood of a tenth of one percent.

  The fees are paid by the sender. This means if you send 1.000 BTC, your wallet will be
  charged ≈1.016 BTC (about 1.6%), not too shabby!
</p>
