
html {
  font-size: 1em;
}

body {
  color: #FFFFFF;
  background-color: #37358C;
  padding-top: 45px;
  width: 100%;

  #content {
    margin: 0 auto 1rem auto;
    max-width: 1200px;
  }

  a, a:hover {
    color: white;
  }

}

