
footer {
  color: white;
  margin: 0 auto;
  background-color: #272727;
  position: absolute;
  width: 100%;
  bottom: 0px;
  overflow: auto;
  padding: 1.25rem;
  text-align: center;

  #copyright {
    float: left;
  }

  #links {
    float: right;

    #separator {
      margin: 0 0.5rem;
    }
  }
}
