
header {
  border-bottom: 1px solid #D9EDF7;
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  margin: 0 auto;
  max-width: 1200px;

  #logo {
    display: inline-block;

    span:first-child {
      font-family: 'Roboto', sans-serif;
      font-size: 3rem;
    }

    span:nth-child(2) {
      font-family: 'Poiret One', cursive;
      font-size: 3rem;
    }
  }
}


