
header {
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  margin: 0 auto;
  background-color: rgba(39,39,39,1);
  color: white;

  #logo {
    display: inline-block;

    span {
      font-family: 'Roboto', sans-serif;
      font-size: 1.25rem;
      display: inline-block;
      position: relative;
      top: 3px;
    }
  }

  #btc-quote {
    float: right;
    margin-top: 4px;
  }
}
