#test_banner {
  // background-color: red;
  padding: 0.25rem 0 0.5rem 0;
  text-align: center;
  text-size: 2rem;
  color: white;
}

#user {
  margin-top: 5px;
  padding-top: 15px;
  font-size: larger;
}

#welcome_user {
  margin: 0 auto;
  max-width: 66%;
  text-align: center;

  .bitcoin_address {
    border: 1px solid white;
    display: block;
    font-size: 2rem;
    margin: 2rem auto;
    padding: 1rem;
  }
}

#prize_pools, #entries_feed {
  padding-bottom: 10px;
  padding-left: 10px;
  min-height: 20rem;
}

#transfer_instructions {
  border: 1px solid white;
  margin: 0 auto;
  padding: 1rem;
  max-width: 40%;

  text-align: center;

  * {
    margin-bottom: 1rem;
  }

  img {
    display: block;
    margin: 0 auto;
  }
}

.form-inline .form-group {
  display: block !important;
  width: 100% !important;
}

#transfer_form {
  font-size: x-large;
  padding: 0px 30px;

  select {
    color: black;
  }

  option{
    color: black;
  }
}

ol, ul {
  list-style-type: none;
}

h2 {
  padding-top: 5px;
  text-align: center;
}
