#test_banner {
  background-color: red;
  padding: 0.25rem 0 0.5rem 0;
  text-align: center;
  text-size: 2rem;
}

#user {
  display: inline;
  float: right;
  margin-top: 5px;
}

#prize_pools, #entries_feed {
  background-color: rgba(0, 0, 0, 0.7);
  padding-bottom: 10px;
  padding-left: 10px;
}

#transfer_instructions {
  border: 1px solid white;
  margin: 0 auto;
  padding: 1rem;
  max-width: 40%;

  text-align: center;

  * {
    margin-bottom: 1rem;
  }

  img {
    display: block;
    margin: 0 auto;
  }
}

#transfer_form {
  background-color: rgba(19, 132, 6, 0.7);
  padding: 0px 30px;
}

ol, ul {
  list-style-type: none;
}

h2 {
  padding-top: 5px;
  text-align: center;
}
